{% extends 'base.html.twig' %}

{% block title %}Détails du film{% endblock %}

{% block body %}
    <h1>Détails du film</h1>

    <table class="table">
        <tbody>
            {# <tr> #}
                {# <th>Id</th> #}
                {# <td>{{ movie.id }}</td> #}
            {# </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ movie.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movie_index') }}">Retourner à la liste</a>

    <a href="{{ path('movie_edit', {'id': movie.id}) }}">Modifier</a>

    <h2>Commentaires</h2>
    <form action="{{ path('add_comment', {'id': movie.id}) }}" method="post">
        <input type="number" name="movie" hidden="true" value="{{ movie.id }}">
        <input type="text" name="content" placeholder="Ajoutez votre commentaire">
        <button class="btn">{{ button_label|default('Ajouter') }}</button>
    </form>

    {% for comment in list_comments %}
        <p>{{comment.content}}</p>
    {% endfor %}
{% endblock %}
