{% extends 'base.html.twig' %}

{% block title %}Détails du film{% endblock %}

{% block body %}
    <h1>Détails du film</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ movie.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ movie.description }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('movie_index') }}">Retourner à la liste</a>

    <a href="{{ path('movie_edit', {'id': movie.id}) }}">Modifier</a>

    <h2>Commentaires</h2>

    {{ include('Front/comment/_form.html.twig') }}

    {% for comment in list_comments %}
        <p>{{comment.content}}</p>
    {% endfor %}
{% endblock %}