<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

To validate your email, please go to: <a href="http://127.0.0.1:8000/validate/{{ id }}/{{ token }}">http://127.0.0.1:8000/validate/{{ id }}/{{ token }}</a>.

Thanks!